.modal__background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container {
    width: 95%;
    height: 75%;
    border-radius: 12px;
    background-color: var(--color-bg);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    animation: fadein .5s;
}


@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}


.modal__fontainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.titleCloseBtn {
    display: flex;
    justify-content: end;
}

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.modal__container .body {
    display: flex;
    flex-direction: row;
}

.modalImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

/* .modal__container img {
    aspect-ratio: 1/1;
    height: 30rem;
    width: 30rem;
    border-radius: 1.5rem;
} */

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 1rem;
}

.description div {
    margin: 1.5rem;
}

.swiper__description {
    width: 40%;
    padding-bottom: 4rem;
}


/* ==== Media Queries (Medium Devices) ==== */
@media screen and (max-width: 1024px) {
    .modal__container .body {
        display: flex;
        flex-direction: column;
    }

    .modal__container img {
        aspect-ratio: 1/1;
        height: 10rem;
        width: 10rem;
    }
}

/* ==== Media Queries (Small Devices) ==== */
@media screen and (max-width: 600px) {

    .description div {
        margin: 0.5rem;        
    }

    .modal__container .body {
        display: flex;
        flex-direction: column;
    }

    .modal__container img {
        aspect-ratio: 1/1;
        height: 10rem;
        width: 10rem;
    }

    .swiper__description {
        width: var(--container-width-sm);
    }

    .swiper__description p {
        font-size: 0.75rem;
    }
}
